.menu_header{
    font-size: 24px;
    font-family: Impact;
    color: rebeccapurple;
    padding: 15px;
    margin-left: 20px;
}

.menu_subheader{
    margin: 18px 0 18px 0;
}
.subheader1{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 0 10px 0;
    /*max-width: 70%;*/
    /*margin-left: 15%;*/
    background-color: #E7E7D5;
    color: rebeccapurple;
}
.subheader2{
    font-size: 18px;
    line-height: 20px;
    max-width: 70%;
    text-align: center;
    margin-left: 15%;

}
.menu_body{
    width: 100%;
    margin-bottom: 15px;
}
.menu1{
    text-align: center;
}
#menu_pic_1{
    width: 50%;
}

.service_title{
    text-align: center;
    font-size: 18px;
    font-family: Impact;
    color: rebeccapurple;
    padding: 10px;
    background-color: #E7E7D5;
    text-decoration: underline;
}
.card_title{
    text-align: center;
    font-size: 18px;
    font-family: Impact;
    color: #E03997;
    padding: 10px;
    background-color: #E7E7D5;
    text-decoration: underline;
}